RewriteEngine On

# Local rewrite to ensure /music/news/{slug} maps to this index.php
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([^/]+)/?$ index.php?slug=$1 [L,QSA]










